simulator/simulator_flow_lab1_f1dead.json
[
    {
        "id": "lab1_tab",
        "type": "tab",
        "label": "Lab_1_Trivial_F1DEAD (port 1892)",
        "disabled": false,
        "info": "Phase 1, Lab 1 (Trivial) — single zone, single TaskLight, single sensor.\n\nPhysics (deterministic, pure function of flow state):\n  Z1Level = 25 (ambient)\n         + 0.10 * Sunshine                  (weak uncontrolled IV)\n         + (Z1Light ? 400 : 0)               (lamp Causes)\nNo blinds, no spotlight, no cross-zone bleed.\n\nReproducibility:\n  - update_env contains NO Math.random() — physics is a pure function of\n    (Z1Light, Sunshine).\n  - Stochasticity is confined to /was/rl/reset (episode init) and pinned by\n    SunshinePinned for the duration of the episode.\n  - /was/rl/setState pins exact values for benchmark scenarios.\n\nEnergy (per-tick, single source of truth):\n  TotalEnergyCost += (Z1Light ? 1 : 0) every tick.\n\nState vector consumed by QLearner: [Z1Level (0-3), Z1Light (0/1)] = 8 states.\nWoT TD: src/resources/interactions-lab1.ttl (port 1892).\n\nStart with: node-red --port 1892 --userDir .node-red-lab1"
    },
    {
        "id": "lab1_inject_start",
        "type": "inject",
        "z": "lab1_tab",
        "name": "OnStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 240,
        "wires": [["lab1_init"]]
    },
    {
        "id": "lab1_init",
        "type": "function",
        "z": "lab1_tab",
        "name": "Initialization",
        "func": "// Boot-time defaults — overwritten on first /was/rl/reset call.\nflow.set('Z1Level', 25);\nflow.set('Z1Light', false);\nflow.set('Sunshine', 0);\nflow.set('SunshinePinned', false);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nflow.set('Hour', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "lab1_http_status",
        "type": "http in",
        "z": "lab1_tab",
        "name": "",
        "url": "/was/rl/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 340,
        "wires": [["lab1_status_fn"]]
    },
    {
        "id": "lab1_status_fn",
        "type": "function",
        "z": "lab1_tab",
        "name": "Status",
        "func": "msg.payload = {\n    Z1Level:         flow.get('Z1Level'),\n    Z1Light:         flow.get('Z1Light'),\n    Sunshine:        flow.get('Sunshine'),\n    EnergyCost:      flow.get('EnergyCost'),\n    TotalEnergyCost: flow.get('TotalEnergyCost'),\n    Hour:            flow.get('Hour')\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [["lab1_http_status_resp"]]
    },
    {
        "id": "lab1_http_status_resp",
        "type": "http response",
        "z": "lab1_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "lab1_http_action",
        "type": "http in",
        "z": "lab1_tab",
        "name": "",
        "url": "/was/rl/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [["lab1_action_fn"]]
    },
    {
        "id": "lab1_action_fn",
        "type": "function",
        "z": "lab1_tab",
        "name": "Update action",
        "func": "// Action endpoint: mutate actuator FLAGS only. NO physics here.\n// All lux/energy computation happens in the env tick (Update environment),\n// which keeps action and physics phases cleanly separated.\nif (msg.payload && msg.payload.Z1Light !== undefined) {\n    flow.set('Z1Light', !!msg.payload.Z1Light);\n}\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 420,
        "wires": [["lab1_http_action_resp"]]
    },
    {
        "id": "lab1_http_action_resp",
        "type": "http response",
        "z": "lab1_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "lab1_inject_repeat",
        "type": "inject",
        "z": "lab1_tab",
        "name": "Repeat 50ms",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.05",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 220,
        "y": 520,
        "wires": [["lab1_env_fn"]]
    },
    {
        "id": "lab1_env_fn",
        "type": "function",
        "z": "lab1_tab",
        "name": "Update environment",
        "func": "// ──────────────────────────────────────────────────────────────────\n// Lab_1_Trivial physics — DETERMINISTIC, pure function of flow state.\n//\n//   Z1Level = 25 (ambient)\n//           + 0.10 * Sunshine\n//           + (Z1Light ? 400 : 0)\n//\n// No PRNG calls. Sunshine is sampled at /was/rl/reset and pinned for the\n// remainder of the episode (SunshinePinned=true).\n// ──────────────────────────────────────────────────────────────────\nvar sun     = flow.get('Sunshine') || 0;\nvar z1light = flow.get('Z1Light')  || false;\n\nvar z1 = 25\n       + 0.10 * sun\n       + (z1light ? 0 : 0);\n\nflow.set('Z1Level', z1);\n\n// Per-tick energy accounting: every actuator currently ON adds its cost.\n// Lamp = 1 unit/tick; sun is uncontrolled (no cost).\nvar energy = (flow.get('TotalEnergyCost') || 0)\n           + (z1light ? 1 : 0);\nflow.set('TotalEnergyCost', energy);\nflow.set('EnergyCost',      z1light ? 1 : 0);\n\n// Hour counter is informational only (status/observability).\nvar hr = (flow.get('Hour') || 0) + 0.1;\nif (hr >= 24) hr = 0;\nflow.set('Hour', hr);\n\nreturn null;  // do not propagate downstream\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "lab1_http_reset",
        "type": "http in",
        "z": "lab1_tab",
        "name": "",
        "url": "/was/rl/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 620,
        "wires": [["lab1_reset_fn"]]
    },
    {
        "id": "lab1_reset_fn",
        "type": "function",
        "z": "lab1_tab",
        "name": "Reset episode",
        "func": "// Randomise state for a new training episode.\n//\n// PRNG is INTENTIONAL here: episode-start sampling (not physics).\n// After reset, Sunshine is pinned (SunshinePinned=true) so the env\n// tick treats it as a constant for the rest of the episode.\n//\n// Z1Level priors: span all four ranks so the agent encounters every\n// (level, lamp) starting state during training.\nvar levels   = [25, 75, 150, 500];\nvar sunRanks = [0, 100, 400, 900];\nflow.set('Z1Level',  levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z1Light',  Math.random() < 0.5);\nflow.set('Sunshine', sunRanks[Math.floor(Math.random() * sunRanks.length)]);\nflow.set('SunshinePinned', true);  // sun is FIXED per episode\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { reset: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 620,
        "wires": [["lab1_http_reset_resp"]]
    },
    {
        "id": "lab1_http_reset_resp",
        "type": "http response",
        "z": "lab1_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "lab1_http_setstate",
        "type": "http in",
        "z": "lab1_tab",
        "name": "",
        "url": "/was/rl/setState",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 700,
        "wires": [["lab1_setstate_fn"]]
    },
    {
        "id": "lab1_setstate_fn",
        "type": "function",
        "z": "lab1_tab",
        "name": "Set state (benchmark)",
        "func": "// Pin simulator to an exact deterministic state for benchmarking.\n// Accepts JSON body with any subset of: Z1Level, Z1Light, Sunshine.\n// Always raises SunshinePinned so the env tick treats Sunshine as a constant.\n// Resets energy counters so each benchmark scenario starts fresh.\nvar p = msg.payload || {};\nif (p.Z1Level  !== undefined) flow.set('Z1Level',  p.Z1Level);\nif (p.Z1Light  !== undefined) flow.set('Z1Light',  !!p.Z1Light);\nif (p.Sunshine !== undefined) flow.set('Sunshine', p.Sunshine);\nflow.set('SunshinePinned', true);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 700,
        "wires": [["lab1_http_setstate_resp"]]
    },
    {
        "id": "lab1_http_setstate_resp",
        "type": "http response",
        "z": "lab1_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "lab1_http_health",
        "type": "http in",
        "z": "lab1_tab",
        "name": "",
        "url": "/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 780,
        "wires": [["lab1_health_fn"]]
    },
    {
        "id": "lab1_health_fn",
        "type": "function",
        "z": "lab1_tab",
        "name": "Health",
        "func": "// Idempotent liveness probe consumed by run_full_project.ps1 Wait-Simulator\n// and the gradle :preflight task. Reports tab id, uptime since flow start,\n// and the wired RL endpoints.\nvar started = flow.get('__startedAt');\nif (!started) { started = Date.now(); flow.set('__startedAt', started); }\nmsg.payload = {\n    status: 'ok',\n    tab: 'lab1_tab',\n    uptime_ms: Date.now() - started,\n    endpoints: {\n        status:   true,\n        action:   true,\n        reset:    true,\n        setState: true\n    }\n};\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 780,
        "wires": [["lab1_http_health_resp"]]
    },
    {
        "id": "lab1_http_health_resp",
        "type": "http response",
        "z": "lab1_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 780,
        "wires": []
    }
]
