simulator/simulator_flow_lab5.json
[
    {
        "id": "lab5_tab",
        "type": "tab",
        "label": "Lab_5_Energy (port 1898)",
        "disabled": false,
        "info": "Phase 4, Lab 5 (Energy) — forked from Lab 3. Two zones, shared Spotlight,\ncross-zone bleed, PLUS energy-differentiated lamps: each zone has TWO directly-\nactionable ceiling lamps with IDENTICAL light output (+400 lux) but DIFFERENT\nenergy cost — an EFFICIENT lamp (1/tick) and an INEFFICIENT lamp (4/tick).\n\nEither lamp alone reaches the brightness target; turning BOTH on in a zone adds\nNO extra light (+400 once) but wastes energy (redundancy trap).\n\nPhysics (deterministic, pure function of flow state):\n  z1AnyLamp = (Z1Eff OR Z1Ineff)\n  z2AnyLamp = (Z2Eff OR Z2Ineff)\n  Z1Level = 25 (ambient)\n         + (z1AnyLamp ? 400        : 0)        primary lamp (either lamp, +400 once)\n         + (z2AnyLamp ? 150        : 0)        cross-zone lamp bleed\n         + (Z1Blinds  ? 0.50 * sun : 0)        primary blind (Mediates on sun)\n         + (Z2Blinds  ? 0.40 * sun : 0)        cross-zone blind bleed\n         + (Spotlight ?  150       : 0)        shared corridor light (both zones)\n  Z2Level = 25 (ambient)\n         + (z2AnyLamp ? 400        : 0)\n         + (z1AnyLamp ? 150        : 0)\n         + (Z2Blinds  ? 0.50 * sun : 0)\n         + (Z1Blinds  ? 0.40 * sun : 0)\n         + (Spotlight ?  150       : 0)\n\nReproducibility:\n  - update_env contains NO Math.random() — physics is a pure function of\n    (Z1Eff, Z1Ineff, Z2Eff, Z2Ineff, Z1Blinds, Z2Blinds, Spotlight, Sunshine).\n  - Sunshine is sampled at /was/rl/reset from {0, 100, 400, 900} and pinned\n    for the whole episode (SunshinePinned=true).\n\nEnergy (per-tick, single source of truth — matches KG ws:energyCost):\n  TotalEnergyCost += (Z1Eff?1)+(Z1Ineff?4)+(Z2Eff?1)+(Z2Ineff?4)+(Spotlight?2).\n  Blinds are passive (cost 0). The efficient lamp costs 1/tick, the inefficient\n  lamp 4/tick — same light, 4x the energy.\n\nState vector: [Z1Level, Z2Level, Z1Eff, Z1Ineff, Z2Eff, Z2Ineff, Z1Blinds, Z2Blinds, Spotlight, Sunshine]\n              = 4·4·2·2·2·2·2·2·2·4 = 8192 states.\nWoT TD: src/resources/interactions-lab5.ttl (port 1898).\n\nStart with: node-red --port 1898 --userDir .node-red-lab5"
    },
    {
        "id": "lab5_inject_start",
        "type": "inject",
        "z": "lab5_tab",
        "name": "OnStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 240,
        "wires": [["lab5_init"]]
    },
    {
        "id": "lab5_init",
        "type": "function",
        "z": "lab5_tab",
        "name": "Initialization",
        "func": "// Boot-time defaults — overwritten on first /was/rl/reset call.\nflow.set('Z1Level', 25);\nflow.set('Z2Level', 25);\nflow.set('Z1Eff',   false);\nflow.set('Z1Ineff', false);\nflow.set('Z2Eff',   false);\nflow.set('Z2Ineff', false);\nflow.set('Z1Blinds', false);\nflow.set('Z2Blinds', false);\nflow.set('Spotlight', false);\nflow.set('Sunshine', 0);\nflow.set('SunshinePinned', false);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nflow.set('Hour', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "lab5_http_status",
        "type": "http in",
        "z": "lab5_tab",
        "name": "",
        "url": "/was/rl/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 340,
        "wires": [["lab5_status_fn"]]
    },
    {
        "id": "lab5_status_fn",
        "type": "function",
        "z": "lab5_tab",
        "name": "Status",
        "func": "msg.payload = {\n    Z1Level:         flow.get('Z1Level'),\n    Z2Level:         flow.get('Z2Level'),\n    Z1Eff:           flow.get('Z1Eff'),\n    Z1Ineff:         flow.get('Z1Ineff'),\n    Z2Eff:           flow.get('Z2Eff'),\n    Z2Ineff:         flow.get('Z2Ineff'),\n    Z1Blinds:        flow.get('Z1Blinds'),\n    Z2Blinds:        flow.get('Z2Blinds'),\n    Spotlight:       flow.get('Spotlight'),\n    Sunshine:        flow.get('Sunshine'),\n    EnergyCost:      flow.get('EnergyCost'),\n    TotalEnergyCost: flow.get('TotalEnergyCost'),\n    Hour:            flow.get('Hour')\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [["lab5_http_status_resp"]]
    },
    {
        "id": "lab5_http_status_resp",
        "type": "http response",
        "z": "lab5_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "lab5_http_action",
        "type": "http in",
        "z": "lab5_tab",
        "name": "",
        "url": "/was/rl/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [["lab5_action_fn"]]
    },
    {
        "id": "lab5_action_fn",
        "type": "function",
        "z": "lab5_tab",
        "name": "Update action",
        "func": "// Action endpoint: mutate actuator FLAGS only. NO physics here.\n// All lux/energy computation happens in the env tick.\nif (msg.payload) {\n    if (msg.payload.Z1Eff     !== undefined) flow.set('Z1Eff',     !!msg.payload.Z1Eff);\n    if (msg.payload.Z1Ineff   !== undefined) flow.set('Z1Ineff',   !!msg.payload.Z1Ineff);\n    if (msg.payload.Z2Eff     !== undefined) flow.set('Z2Eff',     !!msg.payload.Z2Eff);\n    if (msg.payload.Z2Ineff   !== undefined) flow.set('Z2Ineff',   !!msg.payload.Z2Ineff);\n    if (msg.payload.Z1Blinds  !== undefined) flow.set('Z1Blinds',  !!msg.payload.Z1Blinds);\n    if (msg.payload.Z2Blinds  !== undefined) flow.set('Z2Blinds',  !!msg.payload.Z2Blinds);\n    if (msg.payload.Spotlight !== undefined) flow.set('Spotlight', !!msg.payload.Spotlight);\n}\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 420,
        "wires": [["lab5_http_action_resp"]]
    },
    {
        "id": "lab5_http_action_resp",
        "type": "http response",
        "z": "lab5_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "lab5_inject_repeat",
        "type": "inject",
        "z": "lab5_tab",
        "name": "Repeat 50ms",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.05",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 220,
        "y": 520,
        "wires": [["lab5_env_fn"]]
    },
    {
        "id": "lab5_env_fn",
        "type": "function",
        "z": "lab5_tab",
        "name": "Update environment",
        "func": "// ──────────────────────────────────────────────────────────────────\n// Lab_5_Energy physics — DETERMINISTIC, pure function of flow state.\n// Sunshine is FIXED for the whole episode (set at reset/setState).\n// NO Math.random calls anywhere in this function.\n//\n// ENERGY DIFFERENTIATION: each zone has two lamps with the SAME light output\n// (+400 lux) but different energy cost. z*AnyLamp = (Eff OR Ineff) so the\n// light is +400 once regardless of how many lamps are on; turning on BOTH\n// only wastes energy. Per-tick energy matches the KG ws:energyCost values\n// (building_5_energy.ttl): Eff=1, Ineff=4, Spotlight=2, Blinds=0.\n// ──────────────────────────────────────────────────────────────────\nvar sun     = flow.get('Sunshine')  || 0;\nvar z1eff   = flow.get('Z1Eff')     || false;\nvar z1ineff = flow.get('Z1Ineff')   || false;\nvar z2eff   = flow.get('Z2Eff')     || false;\nvar z2ineff = flow.get('Z2Ineff')   || false;\nvar z1b     = flow.get('Z1Blinds')  || false;\nvar z2b     = flow.get('Z2Blinds')  || false;\nvar sp      = flow.get('Spotlight') || false;\n\n// Either lamp lights the zone; +400 once, never +800.\nvar z1AnyLamp = z1eff || z1ineff;\nvar z2AnyLamp = z2eff || z2ineff;\n\nvar corridor = sp ? 150 : 0;\n\nvar z1 = 25\n       + (z1AnyLamp ? 400        : 0)\n       + (z2AnyLamp ? 150        : 0)\n       + (z1b       ? 0.50 * sun : 0)\n       + (z2b       ? 0.40 * sun : 0)\n       + corridor;\n\nvar z2 = 25\n       + (z2AnyLamp ? 400        : 0)\n       + (z1AnyLamp ? 150        : 0)\n       + (z2b       ? 0.50 * sun : 0)\n       + (z1b       ? 0.40 * sun : 0)\n       + corridor;\n\nflow.set('Z1Level', z1);\nflow.set('Z2Level', z2);\n\n// Per-tick energy accounting (single source of truth, matches KG ws:energyCost).\n// Efficient lamp: 1 unit/tick. Inefficient lamp: 4 units/tick. Spotlight: 2.\n// Blinds: passive (0). Both lamps on in a zone => 1+4 = 5 units for the SAME\n// +400 lux => pure waste (the redundancy/energy trap).\nvar perTick = (z1eff   ? 1 : 0)\n            + (z1ineff ? 4 : 0)\n            + (z2eff   ? 1 : 0)\n            + (z2ineff ? 4 : 0)\n            + (sp      ? 2 : 0);\nflow.set('TotalEnergyCost', (flow.get('TotalEnergyCost') || 0) + perTick);\nflow.set('EnergyCost',      perTick);\n\n// Informational hour counter.\nvar hr = (flow.get('Hour') || 0) + 0.1;\nif (hr >= 24) hr = 0;\nflow.set('Hour', hr);\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "lab5_http_reset",
        "type": "http in",
        "z": "lab5_tab",
        "name": "",
        "url": "/was/rl/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 620,
        "wires": [["lab5_reset_fn"]]
    },
    {
        "id": "lab5_reset_fn",
        "type": "function",
        "z": "lab5_tab",
        "name": "Reset episode",
        "func": "// Randomise state for a new training episode.\n// PRNG is INTENTIONAL here: episode-start sampling (not physics).\n// Sunshine samples the FULL discrete rank set {0, 100, 400, 900} so every\n// IV regime appears in training; once sampled it is PINNED for the\n// remainder of the episode (SunshinePinned=true), so the env tick\n// observes a constant sun value.\nvar levels   = [25, 75, 150, 500];\nvar sunRanks = [0, 100, 400, 900];\nflow.set('Z1Level',   levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z2Level',   levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z1Eff',     Math.random() < 0.5);\nflow.set('Z1Ineff',   Math.random() < 0.5);\nflow.set('Z2Eff',     Math.random() < 0.5);\nflow.set('Z2Ineff',   Math.random() < 0.5);\nflow.set('Z1Blinds',  Math.random() < 0.5);\nflow.set('Z2Blinds',  Math.random() < 0.5);\nflow.set('Spotlight', Math.random() < 0.3);\nflow.set('Sunshine',  sunRanks[Math.floor(Math.random() * sunRanks.length)]);\nflow.set('SunshinePinned', true);  // sun is FIXED per episode\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { reset: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 620,
        "wires": [["lab5_http_reset_resp"]]
    },
    {
        "id": "lab5_http_reset_resp",
        "type": "http response",
        "z": "lab5_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "lab5_http_setstate",
        "type": "http in",
        "z": "lab5_tab",
        "name": "",
        "url": "/was/rl/setState",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 700,
        "wires": [["lab5_setstate_fn"]]
    },
    {
        "id": "lab5_setstate_fn",
        "type": "function",
        "z": "lab5_tab",
        "name": "Set state (benchmark)",
        "func": "// Pin simulator to an exact deterministic state for benchmarking.\n// Accepts JSON body with any subset of: Z1Level, Z2Level, Z1Eff, Z1Ineff,\n// Z2Eff, Z2Ineff, Z1Blinds, Z2Blinds, Spotlight, Sunshine.\n// Always raises SunshinePinned (the env tick treats sun as a constant).\n// Resets energy counters so each benchmark scenario starts fresh.\nvar p = msg.payload || {};\nif (p.Z1Level   !== undefined) flow.set('Z1Level',   p.Z1Level);\nif (p.Z2Level   !== undefined) flow.set('Z2Level',   p.Z2Level);\nif (p.Z1Eff     !== undefined) flow.set('Z1Eff',     !!p.Z1Eff);\nif (p.Z1Ineff   !== undefined) flow.set('Z1Ineff',   !!p.Z1Ineff);\nif (p.Z2Eff     !== undefined) flow.set('Z2Eff',     !!p.Z2Eff);\nif (p.Z2Ineff   !== undefined) flow.set('Z2Ineff',   !!p.Z2Ineff);\nif (p.Z1Blinds  !== undefined) flow.set('Z1Blinds',  !!p.Z1Blinds);\nif (p.Z2Blinds  !== undefined) flow.set('Z2Blinds',  !!p.Z2Blinds);\nif (p.Spotlight !== undefined) flow.set('Spotlight', !!p.Spotlight);\nif (p.Sunshine  !== undefined) flow.set('Sunshine',  p.Sunshine);\nflow.set('SunshinePinned', true);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 700,
        "wires": [["lab5_http_setstate_resp"]]
    },
    {
        "id": "lab5_http_setstate_resp",
        "type": "http response",
        "z": "lab5_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "lab5_http_health",
        "type": "http in",
        "z": "lab5_tab",
        "name": "",
        "url": "/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 780,
        "wires": [["lab5_health_fn"]]
    },
    {
        "id": "lab5_health_fn",
        "type": "function",
        "z": "lab5_tab",
        "name": "Health",
        "func": "var started = flow.get('__startedAt');\nif (!started) { started = Date.now(); flow.set('__startedAt', started); }\nmsg.payload = {\n    status: 'ok',\n    tab: 'lab5_tab',\n    uptime_ms: Date.now() - started,\n    endpoints: { status: true, action: true, reset: true, setState: true }\n};\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 780,
        "wires": [["lab5_http_health_resp"]]
    },
    {
        "id": "lab5_http_health_resp",
        "type": "http response",
        "z": "lab5_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 780,
        "wires": []
    }
]
