simulator/simulator_flow_lab2_slow.json
[
    {
        "id": "lab2slow_tab",
        "type": "tab",
        "label": "Lab_2_Slow (port 1895)",
        "disabled": false,
        "info": "Phase 3, Lab 2 (Slow) — process dynamics: the motorized blind has a TEMPORAL response delay.\n\nStructurally IDENTICAL to Lab 2 (Intermediate): two INDEPENDENT zones, each with one lamp (Causes, INSTANT) and one blind (Mediates, MOTORIZED → DELAYED). The ONLY delta is temporal.\n\nDynamics:\n  - Lamp: instantaneous. Toggling Z*Light changes Z*Level on the very next env tick.\n  - Blind: the EFFECTIVE aperture Z*BlindsEff lags the COMMANDED flag Z*Blinds by\n    BLIND_DELAY_TICKS = 12 env ticks. At 50 ms/tick and seconds_per_tick=5 (the\n    agent's tick→seconds scale), 12 ticks ≈ 60 s of simulated response time.\n\nPhysics (steady-state identical to Lab 2):\n  Z1Level = 25 + (Z1Light ? 400 : 0) + (Z1BlindsEff ? 0.50 * Sun : 0)\n  Z2Level = 25 + (Z2Light ? 400 : 0) + (Z2BlindsEff ? 0.50 * Sun : 0)\n\nState exposure:\n  - /status returns the COMMANDED Z*Blinds flags (so the agent's Q-state space is\n    byte-for-byte identical to Lab 2) and the DELAYED Z*Level (so the delay is\n    observable only in the level dynamics).\n  - /status also returns a monotonic Tick counter (the simulator clock). The\n    DynamicsLearner reads Tick before/after a probe action to measure the\n    response delay in ticks → seconds.\n\nReproducibility:\n  - update_env contains NO Math.random() — physics + dynamics are a pure\n    function of (Z*Light, Z*Blinds, Sunshine, prior effective state).\n  - Sunshine sampled at /was/rl/reset from {0,100,400,900} and pinned.\n  - /was/rl/setState pins exact values AND settles the blind (effective ==\n    commanded, countdown cleared) so each benchmark scenario starts at steady\n    state.\n\nState vector: [Z1Level, Z2Level, Z1Light, Z2Light, Z1Blinds, Z2Blinds, Sunshine]\n              = 1024 states (unchanged).\nWoT TD: src/resources/interactions-lab2_slow.ttl (port 1895).\n\nStart with: node-red --port 1895 --userDir .node-red-lab2_slow"
    },
    {
        "id": "lab2slow_inject_start",
        "type": "inject",
        "z": "lab2slow_tab",
        "name": "OnStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 240,
        "wires": [["lab2slow_init"]]
    },
    {
        "id": "lab2slow_init",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Initialization",
        "func": "// Boot-time defaults — overwritten on first /was/rl/reset call.\nflow.set('Z1Level', 25);\nflow.set('Z2Level', 25);\nflow.set('Z1Light',  false);\nflow.set('Z2Light',  false);\nflow.set('Z1Blinds', false);\nflow.set('Z2Blinds', false);\n// Effective (delayed) blind apertures + per-blind transition countdowns.\nflow.set('Z1BlindsEff', false);\nflow.set('Z2BlindsEff', false);\nflow.set('Z1BlindsRem', null);\nflow.set('Z2BlindsRem', null);\nflow.set('Sunshine', 0);\nflow.set('SunshinePinned', false);\nflow.set('Tick', 0);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nflow.set('Hour', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "lab2slow_http_status",
        "type": "http in",
        "z": "lab2slow_tab",
        "name": "",
        "url": "/was/rl/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 340,
        "wires": [["lab2slow_status_fn"]]
    },
    {
        "id": "lab2slow_status_fn",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Status",
        "func": "// Status returns the COMMANDED blind flags (Q-state parity with Lab 2), the\n// DELAYED zone levels, and the monotonic Tick clock (for delay measurement).\nmsg.payload = {\n    Z1Level:         flow.get('Z1Level'),\n    Z2Level:         flow.get('Z2Level'),\n    Z1Light:         flow.get('Z1Light'),\n    Z2Light:         flow.get('Z2Light'),\n    Z1Blinds:        flow.get('Z1Blinds'),\n    Z2Blinds:        flow.get('Z2Blinds'),\n    Sunshine:        flow.get('Sunshine'),\n    Tick:            flow.get('Tick'),\n    EnergyCost:      flow.get('EnergyCost'),\n    TotalEnergyCost: flow.get('TotalEnergyCost'),\n    Hour:            flow.get('Hour')\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [["lab2slow_http_status_resp"]]
    },
    {
        "id": "lab2slow_http_status_resp",
        "type": "http response",
        "z": "lab2slow_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "lab2slow_http_action",
        "type": "http in",
        "z": "lab2slow_tab",
        "name": "",
        "url": "/was/rl/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [["lab2slow_action_fn"]]
    },
    {
        "id": "lab2slow_action_fn",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Update action",
        "func": "// Action endpoint: mutate actuator FLAGS only (the COMMANDED state). NO physics\n// here. Lamp flags take effect on the next env tick; blind flags begin a\n// delayed transition (handled in the env tick via the effective-state\n// countdown).\nif (msg.payload) {\n    if (msg.payload.Z1Light  !== undefined) flow.set('Z1Light',  !!msg.payload.Z1Light);\n    if (msg.payload.Z2Light  !== undefined) flow.set('Z2Light',  !!msg.payload.Z2Light);\n    if (msg.payload.Z1Blinds !== undefined) flow.set('Z1Blinds', !!msg.payload.Z1Blinds);\n    if (msg.payload.Z2Blinds !== undefined) flow.set('Z2Blinds', !!msg.payload.Z2Blinds);\n}\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 420,
        "wires": [["lab2slow_http_action_resp"]]
    },
    {
        "id": "lab2slow_http_action_resp",
        "type": "http response",
        "z": "lab2slow_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "lab2slow_inject_repeat",
        "type": "inject",
        "z": "lab2slow_tab",
        "name": "Repeat 50ms",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.05",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 220,
        "y": 520,
        "wires": [["lab2slow_env_fn"]]
    },
    {
        "id": "lab2slow_env_fn",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Update environment",
        "func": "// ──────────────────────────────────────────────────────────────────\n// Lab_2_Slow physics — DETERMINISTIC, pure function of flow state, with a\n// TEMPORAL response delay on the motorized blinds (Phase 3 process dynamics).\n//\n//   Lamp: INSTANT. Z*Level reflects Z*Light immediately.\n//   Blind: the EFFECTIVE aperture Z*BlindsEff lags the COMMANDED Z*Blinds flag\n//          by BLIND_DELAY_TICKS env ticks. Physics uses the EFFECTIVE aperture.\n//\n//   Z1Level = 25 + (Z1Light ? 400 : 0) + (Z1BlindsEff ? 0.50 * sun : 0)\n//   Z2Level = 25 + (Z2Light ? 400 : 0) + (Z2BlindsEff ? 0.50 * sun : 0)\n//\n// NO Math.random — dynamics are a pure function of (Z*Light, Z*Blinds, Sunshine)\n// and the prior effective state.\n// ──────────────────────────────────────────────────────────────────\nvar DELAY = 12;  // BLIND_DELAY_TICKS (≈ 60 s at seconds_per_tick = 5)\n\n// Monotonic simulator clock — read by the DynamicsLearner to measure delay.\nvar tick = (flow.get('Tick') || 0) + 1;\nflow.set('Tick', tick);\n\nvar sun = flow.get('Sunshine')  || 0;\nvar z1l = flow.get('Z1Light')   || false;\nvar z2l = flow.get('Z2Light')   || false;\n\n// Motorized blind dynamics: COMMANDED flag → EFFECTIVE aperture with lag.\nfunction stepBlind(cmdKey, effKey, remKey) {\n    var cmd = flow.get(cmdKey) || false;\n    var eff = flow.get(effKey) || false;\n    var rem = flow.get(remKey);\n    if (cmd !== eff) {\n        if (rem === undefined || rem === null) rem = DELAY;\n        rem = rem - 1;\n        if (rem <= 0) { eff = cmd; rem = null; }\n    } else {\n        rem = null;\n    }\n    flow.set(effKey, eff);\n    flow.set(remKey, rem);\n    return eff;\n}\nvar z1bEff = stepBlind('Z1Blinds', 'Z1BlindsEff', 'Z1BlindsRem');\nvar z2bEff = stepBlind('Z2Blinds', 'Z2BlindsEff', 'Z2BlindsRem');\n\nvar z1 = 25\n       + (z1l    ? 400        : 0)\n       + (z1bEff ? 0.50 * sun : 0);\n\nvar z2 = 25\n       + (z2l    ? 400        : 0)\n       + (z2bEff ? 0.50 * sun : 0);\n\nflow.set('Z1Level', z1);\nflow.set('Z2Level', z2);\n\n// Per-tick energy accounting. Lamps: 1 unit/tick each. Blinds: passive (0).\nvar perTick = (z1l ? 1 : 0) + (z2l ? 1 : 0);\nflow.set('TotalEnergyCost', (flow.get('TotalEnergyCost') || 0) + perTick);\nflow.set('EnergyCost',      perTick);\n\n// Informational hour counter.\nvar hr = (flow.get('Hour') || 0) + 0.1;\nif (hr >= 24) hr = 0;\nflow.set('Hour', hr);\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "lab2slow_http_reset",
        "type": "http in",
        "z": "lab2slow_tab",
        "name": "",
        "url": "/was/rl/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 620,
        "wires": [["lab2slow_reset_fn"]]
    },
    {
        "id": "lab2slow_reset_fn",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Reset episode",
        "func": "// Randomise state for a new training episode. PRNG is INTENTIONAL here:\n// episode-start sampling (not physics). The blind starts SETTLED (effective ==\n// commanded, countdown cleared) and Tick is reset to 0.\nvar levels   = [25, 75, 150, 500];\nvar sunRanks = [0, 100, 400, 900];\nvar z1b = Math.random() < 0.5;\nvar z2b = Math.random() < 0.5;\nflow.set('Z1Level',  levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z2Level',  levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z1Light',  Math.random() < 0.5);\nflow.set('Z2Light',  Math.random() < 0.5);\nflow.set('Z1Blinds', z1b);\nflow.set('Z2Blinds', z2b);\nflow.set('Z1BlindsEff', z1b);   // start settled\nflow.set('Z2BlindsEff', z2b);\nflow.set('Z1BlindsRem', null);\nflow.set('Z2BlindsRem', null);\nflow.set('Sunshine', sunRanks[Math.floor(Math.random() * sunRanks.length)]);\nflow.set('SunshinePinned', true);  // sun is FIXED per episode\nflow.set('Tick', 0);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { reset: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 620,
        "wires": [["lab2slow_http_reset_resp"]]
    },
    {
        "id": "lab2slow_http_reset_resp",
        "type": "http response",
        "z": "lab2slow_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "lab2slow_http_setstate",
        "type": "http in",
        "z": "lab2slow_tab",
        "name": "",
        "url": "/was/rl/setState",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 700,
        "wires": [["lab2slow_setstate_fn"]]
    },
    {
        "id": "lab2slow_setstate_fn",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Set state (benchmark)",
        "func": "// Pin simulator to an exact deterministic state for benchmarking. Any pinned\n// blind is SETTLED immediately (effective == commanded, countdown cleared) so\n// each scenario starts at steady state. Tick is reset to 0 so a probe can\n// measure response delay from a clean baseline.\nvar p = msg.payload || {};\nif (p.Z1Level  !== undefined) flow.set('Z1Level',  p.Z1Level);\nif (p.Z2Level  !== undefined) flow.set('Z2Level',  p.Z2Level);\nif (p.Z1Light  !== undefined) flow.set('Z1Light',  !!p.Z1Light);\nif (p.Z2Light  !== undefined) flow.set('Z2Light',  !!p.Z2Light);\nif (p.Z1Blinds !== undefined) { flow.set('Z1Blinds', !!p.Z1Blinds); flow.set('Z1BlindsEff', !!p.Z1Blinds); flow.set('Z1BlindsRem', null); }\nif (p.Z2Blinds !== undefined) { flow.set('Z2Blinds', !!p.Z2Blinds); flow.set('Z2BlindsEff', !!p.Z2Blinds); flow.set('Z2BlindsRem', null); }\nif (p.Sunshine !== undefined) flow.set('Sunshine', p.Sunshine);\nflow.set('SunshinePinned', true);\nflow.set('Tick', 0);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 700,
        "wires": [["lab2slow_http_setstate_resp"]]
    },
    {
        "id": "lab2slow_http_setstate_resp",
        "type": "http response",
        "z": "lab2slow_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "lab2slow_http_health",
        "type": "http in",
        "z": "lab2slow_tab",
        "name": "",
        "url": "/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 780,
        "wires": [["lab2slow_health_fn"]]
    },
    {
        "id": "lab2slow_health_fn",
        "type": "function",
        "z": "lab2slow_tab",
        "name": "Health",
        "func": "var started = flow.get('__startedAt');\nif (!started) { started = Date.now(); flow.set('__startedAt', started); }\nmsg.payload = {\n    status: 'ok',\n    tab: 'lab2slow_tab',\n    uptime_ms: Date.now() - started,\n    endpoints: { status: true, action: true, reset: true, setState: true }\n};\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 780,
        "wires": [["lab2slow_http_health_resp"]]
    },
    {
        "id": "lab2slow_http_health_resp",
        "type": "http response",
        "z": "lab2slow_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 780,
        "wires": []
    }
]
