simulator/simulator_flow_custom.json
[
    {
        "id": "custom_tab",
        "type": "tab",
        "label": "Custom Lab (port 1881)",
        "disabled": false,
        "info": "Custom lab simulation with ceiling lights, blinds, shared spotlight, and per-zone radiators+temperature sensors. Start with: node-red --port 1881"
    },
    {
        "id": "custom_inject_start",
        "type": "inject",
        "z": "custom_tab",
        "name": "OnStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 240,
        "wires": [["custom_init"]]
    },
    {
        "id": "custom_init",
        "type": "function",
        "z": "custom_tab",
        "name": "Initialization",
        "func": "flow.set(\"Z1Level\", 500);\nflow.set(\"Z2Level\", 500);\nflow.set(\"Z1Light\", false);\nflow.set(\"Z2Light\", false);\nflow.set(\"Z1Blinds\", false);\nflow.set(\"Z2Blinds\", false);\nflow.set(\"Spotlight\", true);\nflow.set(\"Z1Radiator\", false);\nflow.set(\"Z2Radiator\", false);\nflow.set(\"Z1Temp\", 20.0);\nflow.set(\"Z2Temp\", 20.0);\nflow.set(\"Sunshine\", 0);\nflow.set(\"TotalEnergyCost\", 0);\nflow.set(\"EnergyCost\", 0);\nflow.set(\"Hour\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "custom_http_status",
        "type": "http in",
        "z": "custom_tab",
        "name": "",
        "url": "/was/rl/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 340,
        "wires": [["custom_status_fn"]]
    },
    {
        "id": "custom_status_fn",
        "type": "function",
        "z": "custom_tab",
        "name": "Status",
        "func": "msg.payload = {\n    Z1Level:        flow.get('Z1Level'),\n    Z2Level:        flow.get('Z2Level'),\n    Z1Light:        flow.get('Z1Light'),\n    Z2Light:        flow.get('Z2Light'),\n    Z1Blinds:       flow.get('Z1Blinds'),\n    Z2Blinds:       flow.get('Z2Blinds'),\n    Spotlight:      flow.get('Spotlight'),\n    Z1Radiator:     flow.get('Z1Radiator'),\n    Z2Radiator:     flow.get('Z2Radiator'),\n    Z1Temp:         flow.get('Z1Temp'),\n    Z2Temp:         flow.get('Z2Temp'),\n    Sunshine:       flow.get('Sunshine'),\n    TotalEnergyCost:flow.get('TotalEnergyCost'),\n    EnergyCost:     flow.get('EnergyCost'),\n    Hour:           flow.get('Hour')\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [["custom_http_status_resp"]]
    },
    {
        "id": "custom_http_status_resp",
        "type": "http response",
        "z": "custom_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "custom_http_action",
        "type": "http in",
        "z": "custom_tab",
        "name": "",
        "url": "/was/rl/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [["custom_action_fn"]]
    },
    {
        "id": "custom_action_fn",
        "type": "function",
        "z": "custom_tab",
        "name": "Update action",
        "func": "msg.payload.cost = 0;\n\n// Ceiling light Z1 (activation cost: 100)\nif (msg.payload.Z1Light !== undefined) {\n    var z1l = flow.get('Z1Light');\n    flow.set('Z1Light', msg.payload.Z1Light);\n    if (z1l === false && msg.payload.Z1Light === true) {\n        msg.payload.cost = 100;\n        flow.set('EnergyCost', 100);\n    }\n}\n\n// Ceiling light Z2 (activation cost: 100)\nif (msg.payload.Z2Light !== undefined) {\n    var z2l = flow.get('Z2Light');\n    flow.set('Z2Light', msg.payload.Z2Light);\n    if (z2l === false && msg.payload.Z2Light === true) {\n        msg.payload.cost = 100;\n        flow.set('EnergyCost', 100);\n    }\n}\n\n// Blind Z1 (activation cost: 5)\nif (msg.payload.Z1Blinds !== undefined) {\n    var z1b = flow.get('Z1Blinds');\n    flow.set('Z1Blinds', msg.payload.Z1Blinds);\n    if (z1b === false && msg.payload.Z1Blinds === true) {\n        msg.payload.cost = 5;\n        flow.set('EnergyCost', 5);\n    }\n}\n\n// Blind Z2 (activation cost: 5)\nif (msg.payload.Z2Blinds !== undefined) {\n    var z2b = flow.get('Z2Blinds');\n    flow.set('Z2Blinds', msg.payload.Z2Blinds);\n    if (z2b === false && msg.payload.Z2Blinds === true) {\n        msg.payload.cost = 5;\n        flow.set('EnergyCost', 5);\n    }\n}\n\n// Spotlight – shared high-lux actuator (high activation cost: 500)\nif (msg.payload.Spotlight !== undefined) {\n    var sp = flow.get('Spotlight');\n    flow.set('Spotlight', msg.payload.Spotlight);\n    if (sp === false && msg.payload.Spotlight === true) {\n        msg.payload.cost = 500;\n        flow.set('EnergyCost', 500);\n    }\n}\n\n// Radiator Z1 (activation cost: 50)\nif (msg.payload.Z1Radiator !== undefined) {\n    var z1r = flow.get('Z1Radiator');\n    flow.set('Z1Radiator', msg.payload.Z1Radiator);\n    if (z1r === false && msg.payload.Z1Radiator === true) {\n        msg.payload.cost = 50;\n        flow.set('EnergyCost', 50);\n    }\n}\n\n// Radiator Z2 (activation cost: 50)\nif (msg.payload.Z2Radiator !== undefined) {\n    var z2r = flow.get('Z2Radiator');\n    flow.set('Z2Radiator', msg.payload.Z2Radiator);\n    if (z2r === false && msg.payload.Z2Radiator === true) {\n        msg.payload.cost = 50;\n        flow.set('EnergyCost', 50);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 420,
        "wires": [["custom_http_action_resp"]]
    },
    {
        "id": "custom_http_action_resp",
        "type": "http response",
        "z": "custom_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "custom_inject_repeat",
        "type": "inject",
        "z": "custom_tab",
        "name": "Repeat",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 220,
        "y": 520,
        "wires": [["custom_env_fn"]]
    },
    {
        "id": "custom_env_fn",
        "type": "function",
        "z": "custom_tab",
        "name": "Update environment",
        "func": "var z1level = 0;\nvar z2level = 0;\nvar energy = flow.get(\"TotalEnergyCost\");\n\nvar sun = flow.get('Sunshine');\nvar hr = flow.get('Hour');\nif (hr >= 24) hr = 0;\nflow.set('Hour', hr + 0.1);\n\n// Sunshine hovers around 150 lux (same as original)\nflow.set(\"Sunshine\", 150 + 50 * Math.random());\n\n// ── Illuminance contributions ──────────────────────────────────────\n// Ceiling light Z1: primary +300 lux to Z1, bleed +50 lux to Z2\nz1level += flow.get('Z1Light') ? 300 : 0;\nz2level += flow.get('Z1Light') ?  50 : 0;\n\n// Ceiling light Z2: primary +300 lux to Z2, bleed +50 lux to Z1\nz1level += flow.get('Z2Light') ?  50 : 0;\nz2level += flow.get('Z2Light') ? 300 : 0;\n\n// Blind Z1: sun * 0.5 to Z1, sun * 0.25 bleed to Z2\nz1level += flow.get('Z1Blinds') ? sun * 0.50 : 0;\nz2level += flow.get('Z1Blinds') ? sun * 0.25 : 0;\n\n// Blind Z2: sun * 0.5 to Z2, sun * 0.25 bleed to Z1\nz1level += flow.get('Z2Blinds') ? sun * 0.25 : 0;\nz2level += flow.get('Z2Blinds') ? sun * 0.50 : 0;\n\n// Spotlight: shared +500 lux equally to BOTH zones\nvar spot = flow.get('Spotlight') ? 500 : 0;\nz1level += spot;\nz2level += spot;\n\n// ── Energy (per tick) ─────────────────────────────────────────────\n// Ceiling lights: 1 unit/tick each\nenergy += flow.get('Z1Light') ? 1 : 0;\nenergy += flow.get('Z2Light') ? 1 : 0;\n// Spotlight: 3 units/tick (high energy cost)\nenergy += flow.get('Spotlight') ? 3 : 0;\n// Radiators: 1 unit/tick each\nenergy += flow.get('Z1Radiator') ? 1 : 0;\nenergy += flow.get('Z2Radiator') ? 1 : 0;\n\n// ── Temperature ───────────────────────────────────────────────────\nvar z1temp = flow.get('Z1Temp');\nvar z2temp = flow.get('Z2Temp');\n// Radiator on: +0.5°C/tick; off: slow drift toward 15°C at -0.05°C/tick\nz1temp += flow.get('Z1Radiator') ?  0.5 : -0.05;\nz2temp += flow.get('Z2Radiator') ?  0.5 : -0.05;\n// Clamp to realistic range [15, 35]\nz1temp = Math.min(35, Math.max(15, z1temp));\nz2temp = Math.min(35, Math.max(15, z2temp));\n\nflow.set('Z1Level', z1level);\nflow.set('Z2Level', z2level);\nflow.set('Z1Temp', z1temp);\nflow.set('Z2Temp', z2temp);\nflow.set(\"TotalEnergyCost\", energy);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 520,
        "wires": [[]]
    }
]
