simulator/simulator_flow_lab3_f1dead.json
[
    {
        "id": "lab3_tab",
        "type": "tab",
        "label": "Lab_3_Complex_F1DEAD (port 1894)",
        "disabled": false,
        "info": "Phase 1, Lab 3 (Complex) — two zones, two TaskLights, two Blinds (sun-mediated),\nshared Spotlight, cross-zone bleed.\n\nPhysics (deterministic, pure function of flow state):\n  Z1Level = 25 (ambient)\n         + (Z1Light  ? 400        : 0)        primary lamp\n         + (Z2Light  ? 150        : 0)        cross-zone lamp bleed\n         + (Z1Blinds ? 0.50 * sun : 0)        primary blind (Mediates on sun)\n         + (Z2Blinds ? 0.40 * sun : 0)        cross-zone blind bleed\n         + (Spotlight?  150       : 0)        shared corridor light (both zones)\n  Z2Level = 25 (ambient)\n         + (Z2Light  ? 400        : 0)\n         + (Z1Light  ? 150        : 0)\n         + (Z2Blinds ? 0.50 * sun : 0)\n         + (Z1Blinds ? 0.40 * sun : 0)\n         + (Spotlight?  150       : 0)\n\nReproducibility:\n  - update_env contains NO Math.random() — physics is a pure function of\n    (Z1Light, Z2Light, Z1Blinds, Z2Blinds, Spotlight, Sunshine).\n  - Sunshine is sampled at /was/rl/reset from {0, 100, 400, 900} and pinned\n    for the whole episode (SunshinePinned=true).\n  - This is the explicit fix for the simulator_flow_custom9s.json PRNG leak\n    where Sunshine was perturbed by Math.random() inside the env tick.\n\nEnergy (per-tick, single source of truth):\n  TotalEnergyCost += (Z1Light?1:0) + (Z2Light?1:0) + (Spotlight?2:0).\n  Blinds are passive (cost 0).\n\nState vector: [Z1Level, Z2Level, Z1Light, Z2Light, Z1Blinds, Z2Blinds, Spotlight, Sunshine]\n              = 4·4·2·2·2·2·2·4 = 2048 states.\nWoT TD: src/resources/interactions-lab3.ttl (port 1894).\n\nStart with: node-red --port 1894 --userDir .node-red-lab3"
    },
    {
        "id": "lab3_inject_start",
        "type": "inject",
        "z": "lab3_tab",
        "name": "OnStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 240,
        "wires": [["lab3_init"]]
    },
    {
        "id": "lab3_init",
        "type": "function",
        "z": "lab3_tab",
        "name": "Initialization",
        "func": "// Boot-time defaults — overwritten on first /was/rl/reset call.\nflow.set('Z1Level', 25);\nflow.set('Z2Level', 25);\nflow.set('Z1Light',  false);\nflow.set('Z2Light',  false);\nflow.set('Z1Blinds', false);\nflow.set('Z2Blinds', false);\nflow.set('Spotlight', false);\nflow.set('Sunshine', 0);\nflow.set('SunshinePinned', false);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nflow.set('Hour', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "lab3_http_status",
        "type": "http in",
        "z": "lab3_tab",
        "name": "",
        "url": "/was/rl/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 340,
        "wires": [["lab3_status_fn"]]
    },
    {
        "id": "lab3_status_fn",
        "type": "function",
        "z": "lab3_tab",
        "name": "Status",
        "func": "msg.payload = {\n    Z1Level:         flow.get('Z1Level'),\n    Z2Level:         flow.get('Z2Level'),\n    Z1Light:         flow.get('Z1Light'),\n    Z2Light:         flow.get('Z2Light'),\n    Z1Blinds:        flow.get('Z1Blinds'),\n    Z2Blinds:        flow.get('Z2Blinds'),\n    Spotlight:       flow.get('Spotlight'),\n    Sunshine:        flow.get('Sunshine'),\n    EnergyCost:      flow.get('EnergyCost'),\n    TotalEnergyCost: flow.get('TotalEnergyCost'),\n    Hour:            flow.get('Hour')\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [["lab3_http_status_resp"]]
    },
    {
        "id": "lab3_http_status_resp",
        "type": "http response",
        "z": "lab3_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "lab3_http_action",
        "type": "http in",
        "z": "lab3_tab",
        "name": "",
        "url": "/was/rl/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [["lab3_action_fn"]]
    },
    {
        "id": "lab3_action_fn",
        "type": "function",
        "z": "lab3_tab",
        "name": "Update action",
        "func": "// Action endpoint: mutate actuator FLAGS only. NO physics here.\n// All lux/energy computation happens in the env tick.\nif (msg.payload) {\n    if (msg.payload.Z1Light   !== undefined) flow.set('Z1Light',   !!msg.payload.Z1Light);\n    if (msg.payload.Z2Light   !== undefined) flow.set('Z2Light',   !!msg.payload.Z2Light);\n    if (msg.payload.Z1Blinds  !== undefined) flow.set('Z1Blinds',  !!msg.payload.Z1Blinds);\n    if (msg.payload.Z2Blinds  !== undefined) flow.set('Z2Blinds',  !!msg.payload.Z2Blinds);\n    if (msg.payload.Spotlight !== undefined) flow.set('Spotlight', !!msg.payload.Spotlight);\n}\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 420,
        "wires": [["lab3_http_action_resp"]]
    },
    {
        "id": "lab3_http_action_resp",
        "type": "http response",
        "z": "lab3_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "lab3_inject_repeat",
        "type": "inject",
        "z": "lab3_tab",
        "name": "Repeat 50ms",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.05",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 220,
        "y": 520,
        "wires": [["lab3_env_fn"]]
    },
    {
        "id": "lab3_env_fn",
        "type": "function",
        "z": "lab3_tab",
        "name": "Update environment",
        "func": "// ──────────────────────────────────────────────────────────────────\n// Lab_3_Complex physics — DETERMINISTIC, pure function of flow state.\n// Sunshine is FIXED for the whole episode (set at reset/setState).\n// NO Math.random calls anywhere in this function.\n// This is the explicit fix for simulator_flow_custom9s.json's PRNG leak\n// where Sunshine was perturbed by `150 + 50 * Math.random()` every tick.\n// ──────────────────────────────────────────────────────────────────\nvar sun     = flow.get('Sunshine')  || 0;\nvar z1l     = flow.get('Z1Light')   || false;\nvar z2l     = flow.get('Z2Light')   || false;\nvar z1b     = flow.get('Z1Blinds')  || false;\nvar z2b     = flow.get('Z2Blinds')  || false;\nvar sp      = flow.get('Spotlight') || false;\n\nvar corridor = sp ? 150 : 0;\n\nvar z1 = 25\n       + (z1l ? 0        : 0)\n       + (z2l ? 150        : 0)\n       + (z1b ? 0.50 * sun : 0)\n       + (z2b ? 0.40 * sun : 0)\n       + corridor;\n\nvar z2 = 25\n       + (z2l ? 400        : 0)\n       + (z1l ? 0        : 0)\n       + (z2b ? 0.50 * sun : 0)\n       + (z1b ? 0.40 * sun : 0)\n       + corridor;\n\nflow.set('Z1Level', z1);\nflow.set('Z2Level', z2);\n\n// Per-tick energy accounting (single source of truth).\n// Lamps: 1 unit/tick each. Spotlight: 2 units/tick. Blinds: passive (0).\nvar perTick = (z1l ? 1 : 0)\n            + (z2l ? 1 : 0)\n            + (sp  ? 2 : 0);\nflow.set('TotalEnergyCost', (flow.get('TotalEnergyCost') || 0) + perTick);\nflow.set('EnergyCost',      perTick);\n\n// Informational hour counter.\nvar hr = (flow.get('Hour') || 0) + 0.1;\nif (hr >= 24) hr = 0;\nflow.set('Hour', hr);\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "lab3_http_reset",
        "type": "http in",
        "z": "lab3_tab",
        "name": "",
        "url": "/was/rl/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 620,
        "wires": [["lab3_reset_fn"]]
    },
    {
        "id": "lab3_reset_fn",
        "type": "function",
        "z": "lab3_tab",
        "name": "Reset episode",
        "func": "// Randomise state for a new training episode.\n// PRNG is INTENTIONAL here: episode-start sampling (not physics).\n// Sunshine samples the FULL discrete rank set {0, 100, 400, 900} so every\n// IV regime appears in training; once sampled it is PINNED for the\n// remainder of the episode (SunshinePinned=true), so the env tick\n// observes a constant sun value.\nvar levels   = [25, 75, 150, 500];\nvar sunRanks = [0, 100, 400, 900];\nflow.set('Z1Level',   levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z2Level',   levels[Math.floor(Math.random() * levels.length)]);\nflow.set('Z1Light',   Math.random() < 0.5);\nflow.set('Z2Light',   Math.random() < 0.5);\nflow.set('Z1Blinds',  Math.random() < 0.5);\nflow.set('Z2Blinds',  Math.random() < 0.5);\nflow.set('Spotlight', Math.random() < 0.3);\nflow.set('Sunshine',  sunRanks[Math.floor(Math.random() * sunRanks.length)]);\nflow.set('SunshinePinned', true);  // sun is FIXED per episode\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { reset: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 620,
        "wires": [["lab3_http_reset_resp"]]
    },
    {
        "id": "lab3_http_reset_resp",
        "type": "http response",
        "z": "lab3_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "lab3_http_setstate",
        "type": "http in",
        "z": "lab3_tab",
        "name": "",
        "url": "/was/rl/setState",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 700,
        "wires": [["lab3_setstate_fn"]]
    },
    {
        "id": "lab3_setstate_fn",
        "type": "function",
        "z": "lab3_tab",
        "name": "Set state (benchmark)",
        "func": "// Pin simulator to an exact deterministic state for benchmarking.\n// Accepts JSON body with any subset of: Z1Level, Z2Level, Z1Light, Z2Light,\n// Z1Blinds, Z2Blinds, Spotlight, Sunshine.\n// Always raises SunshinePinned (the env tick treats sun as a constant).\n// Resets energy counters so each benchmark scenario starts fresh.\nvar p = msg.payload || {};\nif (p.Z1Level   !== undefined) flow.set('Z1Level',   p.Z1Level);\nif (p.Z2Level   !== undefined) flow.set('Z2Level',   p.Z2Level);\nif (p.Z1Light   !== undefined) flow.set('Z1Light',   !!p.Z1Light);\nif (p.Z2Light   !== undefined) flow.set('Z2Light',   !!p.Z2Light);\nif (p.Z1Blinds  !== undefined) flow.set('Z1Blinds',  !!p.Z1Blinds);\nif (p.Z2Blinds  !== undefined) flow.set('Z2Blinds',  !!p.Z2Blinds);\nif (p.Spotlight !== undefined) flow.set('Spotlight', !!p.Spotlight);\nif (p.Sunshine  !== undefined) flow.set('Sunshine',  p.Sunshine);\nflow.set('SunshinePinned', true);\nflow.set('TotalEnergyCost', 0);\nflow.set('EnergyCost', 0);\nmsg.payload = { status: 'ok' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 700,
        "wires": [["lab3_http_setstate_resp"]]
    },
    {
        "id": "lab3_http_setstate_resp",
        "type": "http response",
        "z": "lab3_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "lab3_http_health",
        "type": "http in",
        "z": "lab3_tab",
        "name": "",
        "url": "/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 780,
        "wires": [["lab3_health_fn"]]
    },
    {
        "id": "lab3_health_fn",
        "type": "function",
        "z": "lab3_tab",
        "name": "Health",
        "func": "var started = flow.get('__startedAt');\nif (!started) { started = Date.now(); flow.set('__startedAt', started); }\nmsg.payload = {\n    status: 'ok',\n    tab: 'lab3_tab',\n    uptime_ms: Date.now() - started,\n    endpoints: { status: true, action: true, reset: true, setState: true }\n};\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 780,
        "wires": [["lab3_http_health_resp"]]
    },
    {
        "id": "lab3_http_health_resp",
        "type": "http response",
        "z": "lab3_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 780,
        "wires": []
    }
]
